@import "tailwindcss";

@theme inline {

  --font-clash-display: var(--font-clash-display), sans-serif;
  --font-satoshi: var(--font-satoshi), sans-serif;

  --color-bg: #18120E;
  --color-surface: #1a1410;

  --color-primary: #c08b5c;
	--color-primary-light: #d9a679;

	--color-secondary: #6b4f3b;

	--color-text: #f5eee6;
	--color-text-muted: #b8a999;

	--color-border: #2a211b;

	--color-card: #18120f;
}

:root {

  --font-clash-display: "Clash Display", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  --color-bg: #18120E;
  --color-surface: #1a1410;

  --color-primary: #c08b5c;
  --color-primary-light: #d9a679;

  --color-secondary: #6b4f3b;

  --color-text: #f5eee6;
  --color-text-muted: #b8a999;

  --color-border: #2a211b;

  --color-card: #18120f;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-satoshi);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--color-text);
	-webkit-box-shadow: 0 0 0px 1000px var(--color-bg) inset;
	transition: background-color 5000s ease-in-out 0s;
	caret-color: var(--color-text);
}